main {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.body {
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
	background-size: 100%; 
  overflow: hidden;
}

.margin-topbot{
  margin-top: 56px;
  margin-bottom: 56px;
}

.navbar-brand {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar-toggler-edit{
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.title {
  text-align: center;
}


ul {
  list-style: none;
}

a.text-as-link{
  text-decoration: none;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.marginnavbar {
  scroll-margin-top: 70px;
}